h3{
    margin-left: 5%;
    margin-top: 2%;
}
small{
    margin-left: 5%;
}
#map {
    height: 55%;
    margin: 5%; 
    width: 90%; 
}
#error-route{
    display: none;
    width: 90%;
    margin-left: 5%;
}

.display-info{
    width: 90%;
    margin-left: 5%;
    background-color: rgb(232, 236, 236);
    display: none;
    flex-direction: column;
    div{
        h4{
            color: #ffb532;
        }
        margin-top: 2%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        h5{
            margin-left: 2%;
        }
    }
}