<div class="container">
    <div>
        <h2><i class="fa fa-home" routerLink="/home" routerLinkActive="active" aria-hidden="true"></i></h2>
    </div>
    <div>
        <h2><i class="fa fa-inr" routerLink="/fare" routerLinkActive="active" aria-hidden="true"></i></h2>
    </div>
    <div>
        <h2><i class="fa fa-bars" routerLink="/list" routerLinkActive="active" aria-hidden="true"></i></h2>
    </div>
    <div>
        <h2><i class="fa fa-user" aria-hidden="true"></i></h2>
    </div>
</div>