.container{
    position: absolute;
    width: 100vw;
    height: 65px;
    background-color: #ffb532;
    bottom: 0px;
    display: flex;
    div{
        h2{
            color: white;
        }
        margin-top: 4%;
        width: 25%;
        text-align: center;
    }
}

.active{
    color: black;
}