.match-parent {
    border-radius: 2%;
    margin-left: 5%;
    width: 90%;
    height: 75%;
  }
  .place{
        margin-top: 2%;
      h5{
          i{
              margin-right: 2%;
              color: #ffb532;
          }
          text-transform: lowercase;
      }
      margin-left: 5%;
  }

.modal-dialog{
    margin-top: 50%;
}