<div class="logo">
    <img src="../../../../assets/logo-aye-auto.png" width="60%">
</div>
<div class="main-container">
    <div class="image-container">
        <img class="heading" src="../../../../assets/name.png" width="30%"> 
        <img class="auto" src="../../../../assets/auto.png">
    </div>
    <div class="form-container">
        <div class="form-box">
            <h2>Welcome</h2>
            <div class="form">
                <form formGroup="loginForm" (ngSubmit)="login()">
                    <label>Email</label>
                    <input type="text" class="form-control">
                    <label>Password</label>
                    <input type="password" class="form-control">
                    <div>
                        <a>forgot password?</a>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-warning lg-btn">Login</button>
                    </div>
                </form>
                <h6>Don't have an account ?</h6>
                <div class="buttons">
                    <button class="btn btn-outline-secondary lg-create">Create</button>
                </div>
            </div>
        </div>
        <div class="social">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>
