.logo{
    display: none;
}
.main-container{
    display: flex;
    flex-direction: row;
    .image-container{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100vh;
        background-color: #639981;
        .auto{
            margin-left: 15%;
            width: 60%;
            height: 70%;
        }
        .heading{
            // margin-top: 5%;
            margin-left: 30%;
        }
    }
    .form-container{
        width: 35%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .form-box{
            border-radius: 3%;
            margin-top: 25%;
            h2{
                margin-top: 5%;
                text-align: center;
            }
            margin-left: 0%;
            height: 450px;
            width: 60%;
            background-color: white;
            box-shadow: 2px 5px 10px 5px #9b9797;
            .form{
             margin-left: 10%;
             width: 80%;
             h6{
                 margin-top: 5%;
                 text-align: center;
             }
             .buttons{
                 display: flex;
                 justify-content: center;
                .lg-btn{
                    font-weight: bold;
                    font-size: x-large;
                    margin-top: 10%;
                    width: 60%;
                }
                .lg-create{
                    font-weight: bold;
                    font-size: x-large;
                    margin-top: 5%;
                    width: 60%;
                }
             }
            }
        }
        .social{
            width: 50%;
            margin-left: 15%;
            margin-top: 20%;
            i{
                margin-right: 10%;
                &:hover{
                    color: #ffb532;
                }
                
            }
        }
    }
}

@media all and(max-width:750px){
    .main-container{
        margin-top: 0%;
        display: block;
        .image-container{
            display: none;
        }
        .form-container{
            display: block;
            width: 95%;
            margin-left: 8%;
            .form-box{
                margin: 0%;
                border-radius: 3%;
                width: 90%;
            }
            .social{
                margin-left: 20%;
                display: block;
                width: 60%;
            }
            
        }
        
    }
    .logo{
        margin-left: 30%;
        display: block;
    }
    
}